.container-fluid {
  font-family: 'Thasadith', sans-serif;
  font-weight: 800;
  color: #FFF;
}

.display-3 {
  font-size: 3em;;
}

.jumbotron {
  background-image: url("succulents.jpg");
  background-size: cover;
}

body {
  text-align: center;
}